.sidebar{
    position: absolute;
    width: 20%;
    background-color: $primary-color;
    top: 0;
    right: 0;
    bottom: 0;

    h3{
        font-size: 13px;
        padding: .5em 1em;
    }

    &-elements{
        padding: .4em 2em;
        font-size: 11px;
        cursor: pointer;
        font-weight: 400;
        position: relative;

        @include easeOut;

        &:hover{
            background-color: $sidebar-hover-background;
        }
    }

    .icon {
        margin-right: 1em;
    }

    .bezier-icon{
        background-color: darken($primary-color, 5%);
        padding: .6em .5em;
        border-radius: 50%;
    }

    .dropdown-icon{
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
    }

    .dropdown-elements{
        display: none;
    
        .dropdown-element{
            font-size: 11px;
            font-weight: 400;
            padding: .3em 4em;
            cursor: pointer;
        }
    }

    .show{
        display: block;
    }   

    .active{
        background-color: $sidebar-hover-background;
    }

    .rotate-icon{
        transform: rotate(180deg) translateY(50%);
    }
}