@import 'config';
@import 'sidebar';
@import 'bottombar';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #fff;
}

main{
    .canvas{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
    }
}