@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.dark-blue-background {
    background-color: #182838;    
}

.canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 92vh;
    background-color: #243142;
}

.sidebar {
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.sidebar-elements{

}

.sidebar-elements h3{
    padding: .6em 1em;
    font-size: 12px;
    margin-bottom: .5em;
}

.sidebar-elements .sidebar-element{
    padding: .4em 2em;
    font-size: 10px;
    cursor: pointer;
}

.sidebar-elements .sidebar-element:hover:not(.active){
    background-color: #264059;
}

.bottom-menu {
    position: absolute;
    width: 80%;
    height: 8vh;
    bottom: 0;
    left: 0;
}