*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #000; 
}

.red-icon{
  background: -webkit-linear-gradient(#a83232, #e37114);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-icon{
  background: -webkit-linear-gradient(#0015ff, #a1c3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-icon{
  background: -webkit-linear-gradient(#7829d9, #f55d40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clear-icon{
  background: -webkit-linear-gradient(#1b1c1c, #a4a5a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.question-icon{
  background: -webkit-linear-gradient(#678ec9, #bf5072);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active{
  background: #d3d3d3 !important;
}

#controls{
  position: absolute;
  top:0;
  left: 0;
  padding: 2em;
}

#controls .canvas{
  height: 100vh;
}

#controls .control-container{
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-container .control-button{
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding: .4em;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background: #fff;
  width: 30%;
}

.control-container .control-text{
  width: 70%;
  font-size: 13px;
  margin-left: 1em;
  z-index: -5;
  font-weight: 400;
  transform: translateX(-250%);
}

.control-container .control-button:hover:not(.active){
  transform: scale(1.2);
}

.control-container .control-button:hover + .control-text{
  animation: controlHover .3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
}

@keyframes controlHover {
  0%  {
    transform: translateX(-250%);
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;  
  }
}